.calendar-modal {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 2rem;
  border-radius: 2rem;
}

.calendar-modal__header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.calendar-modal__date {
  font-weight: 500;
  font-size: 1.8rem;
  color: #343434;
}

.calendar-modal__content {
  padding: 1rem 0.5rem;
  display: flex;
  gap: 1.5rem;
}

.calendar-modal__item {
  width: 100%;
  align-items: center;
}

.calendar-modal__item-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-modal__checkbox {
  border: #343434 1px solid;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  position: relative;
}

.calendar-modal__content-title {
  font-weight: 400;
  font-size: 1.6rem;
  color: #343434;
  width: 100%;
}

.calendar-modal__content-state {
  display: flex;
  padding: 0.5rem 0;
  gap: 1rem;
}

.calendar-modal__state-type {
  color: #6b6b6b;
}

.calendar-modal__state-description {
  color: #a9a9a9;
}

.calendar-modal__footer-item {
  font-weight: 700;
  font-size: 1.8rem;
  color: #343434;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.calendar-modal__checkbox-selected {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}
