.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
}

.text {
  padding: 1.2rem;
  margin: 1.6rem auto;
  font-size: 1.6rem;
  border: none;
  border-bottom: 1px solid #ddd;
}

.delete-btn {
  padding: 1.6rem;
  margin: 0 auto;
  background-color: #fff;
  color: #ff0000;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
